.app__body {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}

.app__search {
  height: 100px;
  background-color: black;
  display: flex;
  align-items: center;
}

.app__search > input {
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  height: 30px;
  border: 2px solid gray;
  outline: none;
}
